<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <InProcDataCollectionRunSettings>
    <InProcDataCollectors>
      <InProcDataCollector assemblyQualifiedName="AppMap.DataCollector, appmap.collector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                     enabled="True"
                     codebase="%PWD%/appmap.collector.dll" />
    </InProcDataCollectors>
  </InProcDataCollectionRunSettings>
</RunSettings>
