<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<InstrumentationEngineConfiguration>
  <InstrumentationMethod>
    <Name>AppMap recorder</Name>
    <Description>Records AppMap execution traces</Description>
    <Module>libappmap-instrumentation.so</Module>
    <ClassGuid>{1085a91f-c085-4335-a1ca-3570cbf7118b}</ClassGuid>
    <Priority>50</Priority>
  </InstrumentationMethod>
</InstrumentationEngineConfiguration>
